@import '/src/var&mixins.scss';
.approval-container{
    width: 80%;
    padding: 40px 3%;
    margin-top: 50px;
    border-radius: 30px;
    height: min-content;
    background-color: $color-white;

    .approval-upper{
        display: flex;
        justify-content: space-between;
        .user{
            display: flex;
            align-items: center;
            column-gap: 10px;

            .approval-user{
                font-weight: 700;
                font-size: 17px;
            }

            .approval-pic{
                width: 90px;
                height: 90px;
                border-radius: 100px;
                background-color: red;
            }
        }
    }

    .approval-middle{
        margin-top: 30px;

        p{
            padding: 10px 30px;
        }

        .approval-purpose{
            font-weight: 700;
        }
    }

    .approval-bottom{
        margin-top: 30px;
        
        p{
            margin-top: 10px;
        }
    }
}