@import 'var&mixins.scss';
#sidebar {
    position: sticky;
    top:0;
    width: 145px;
    height: 100vh;
    background-color: $color-blue;  
    display: flex;
    flex-direction: column;
    place-items: center;

    .logo {
      margin-top: 35px;
      width: 75px;
    }
  }

  .links-cont {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    
    .links {
      margin: 13px 0;
      padding: 12px;
      border-radius: 100%;
      
      .icons {
        width: 28px;
        height: 28px;
        fill: $color-white;
      }

      &:hover {
        background-color: $color-white;
        transition: 0.35s;
      }

      &:hover > .icons {
        fill: $color-blue;
        transition: 0.35s;
      }
    }
  }

  // some responsiveness
  @media only screen and (max-width: 900px) {
    #sidebar{
      width: 16vw;
      
      .logo{
        width: 7.5vw;
      }
    } 
    
    .links-cont{
      .links{
        .icons{
          width: 3.3vw;
          height: 3.3vw;
        }
      }
    }
  }

  @media only screen and (max-width: 650px) {
    #sidebar{
      display: none;
    }
  }

